  page-chrono {

    .display-text{
        font-size:60px;
        height:200px;
    }

    .colorGreen{
        color : green;
    } 

    .colorRed{
        color : red;
    } 

    .colorOrange{
        color : rgb(255, 166, 0);
    } 
 
}
