<!--
  Generated template for the ChronoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title >
      <img class="img-icon-header" float-start src="assets/imgs/icon-chrono.png"  />
      <span>{{name}}</span>
      <logout></logout>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>

        <ion-row>
            <ion-col col-12 text-center col-top class="display-text colorVert"       
            [class.colorOrange]="remainingTime < 10"    
            [class.colorVert]="remainingTime>=10"            
            [class.colorRouge]="remainingTime===0"

            > {{remainingTimeDisplay}}</ion-col>        
        </ion-row>

       
        <ion-row>
            <ion-col co-12 col-bottom>
                <ion-fab  center *ngIf="!isRunning">
                    <button  ion-fab [disabled]="remainingTime<=0" (click)="onStartChrono()" color="secondary"><ion-icon >START</ion-icon></button>
                </ion-fab>
                <ion-fab  center *ngIf="isRunning">
                    <button  ion-fab  (click)="onStopChrono()" color="danger"><ion-icon >STOP</ion-icon></button>
                </ion-fab>
            </ion-col>
        </ion-row>
        

    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
            <ion-col col-3 text-center>
                <img class="img-icon-footer" src="assets/imgs/icon-family.png" (click)="onLinkFamily()" />    
            </ion-col>

          <ion-col col-6 text-center>PLAYTIME</ion-col>

            <ion-col col-3 text-center>
                <img class="img-icon-footer" src="assets/imgs/icon-tbb.png" (click)="onLinkDashboard()" />
            </ion-col>
        </ion-row>
    </ion-grid>
    </ion-toolbar>            
  </ion-footer>
