
<ion-header>

  <ion-navbar>
    
      <ion-title r>
      <img class="img-icon-header"  float-start src="assets/imgs/icon-tbb.png"  />
      Line
      <logout></logout>      
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

    <ion-fab top right>
        <button ion-fab (click)="onOpenSelectAction()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

    <ion-grid class="select-card">
        <ion-row>
  
          <ion-col col-3 text-center >
            <div class="badge-title-time-recap" >Gagné</div>
            <ion-badge class="badge-time-recap">01h10</ion-badge>
          </ion-col>
      
          <ion-col col-3  text-center >
            <div class="badge-title-time-recap" >Utilisé</div>
            <ion-badge class="badge-time-recap">01h10</ion-badge>
          </ion-col>
  
          <ion-col col-3 text-center >
            <div class="badge-title-time-recap" >Restant</div>
            <ion-badge class="badge-time-recap">01h10</ion-badge>
          </ion-col>
  
          </ion-row>   
        </ion-grid>
      
  <ion-list>

    <ion-item *ngFor="let dashActions of dashActions" >
      <div class="line-action">
        <div class="badge-time" [class.badge-positive]="dashActions.positive" [class.badge-negative]="!dashActions.positive">00h20</div>
        <div class="text-action" text-wrap>{{dashActions.labelAction}}</div>          
        <ion-badge class="badge-action-count" [class.badge-positive]="dashActions.positive" [class.badge-negative]="!dashActions.positive">{{dashActions.count}}</ion-badge>
        <ion-icon  class="btn-plus" name="add-circle"  (click)="onAddRealisedAction()"></ion-icon>
        <ion-icon class="btn-minus" name="remove-circle"  (click)="onRemoveRealisedAction()"></ion-icon>
      </div> 
    </ion-item>
  </ion-list>

  <ion-item class="ion-select" >
  <ion-select  #selectAction [(ngModel)]="action" (ionChange)="addAction()" [selectOptions]="selectOptions"
  multiple="true" cancelText="Annuler" okText="Ajouter">
  <ion-option *ngFor="let listAction of listActionsFree" [value]="listAction.id">{{listAction.label}}</ion-option >
  </ion-select> 
</ion-item>

</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
            <ion-col col-3 text-center>
                <img class="img-icon-footer"   src="assets/imgs/icon-family.png"  />    
            </ion-col>

          <ion-col col-6 text-center>PLAYTIME</ion-col>

            <ion-col col-3 text-center>
                <img class="img-icon-footer"   src="assets/imgs/icon-tbb.png"  />
            </ion-col>
        </ion-row>
    </ion-grid>
    </ion-toolbar>            
  </ion-footer>