
<ion-header>
  <ion-navbar>
    <!-->
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  -->
    <ion-title text-left>
        <img class="img-icon-header"  float-start src="assets/imgs/icon-tbb.png"  />
        
      <span>{{name}}</span>
      <logout></logout>
    </ion-title>

  </ion-navbar>
</ion-header>


<ion-content no-padding>

    <!---
    <ion-fab  edge right>
        <button ion-fab mini (click)="onOpenSelectAction()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  -->
    <ion-grid class="select-card">
      <ion-row>

        <ion-col col-3 text-center >
          <div class="badge-title-time-recap" >Gagné</div>
          <ion-badge class="badge-time-recap">{{timeWin}}</ion-badge>
        </ion-col>
    
        <ion-col col-3  text-center >
          <div class="badge-title-time-recap" >Utilisé</div>
          <ion-badge class="badge-time-recap">01h10</ion-badge>
        </ion-col>

        <ion-col col-3 text-center >
          <div class="badge-title-time-recap" >Restant</div>
          <ion-badge class="badge-time-recap">01h10</ion-badge>
        </ion-col>

        <ion-col col-3 text-center  >
          <ion-icon class="icon-add-action" name="add-circle" (click)="onOpenSelectAction()"></ion-icon>
        </ion-col>           
        
      </ion-row>   
    </ion-grid>
      
  <ion-list>

    <ion-item *ngFor="let actionSelected of actionsSelected" >
      <div class="line-action"> 
        <div class="badge-time"  [class.badge-positive]="actionSelected.positive=='P'" [class.badge-negative]="actionSelected.positive=='N'">{{actionSelected.timep | slice:0:5}}</div>
        <div class="text-action" text-wrap>{{actionSelected.label}}</div>          
        <ion-badge class="badge-action-count" [class.badge-positive]="actionSelected.positive=='N'" [class.badge-negative]="actionSelected.positive=='N'">{{actionSelected.nbRealised}}</ion-badge>
        <ion-icon  class="btn-plus" name="add-circle"  (click)="onAddRealisedAction(actionSelected.id);"></ion-icon>
        <ion-icon class="btn-minus" name="remove-circle" (click)="onRemoveRealisedAction(actionSelected.id)"></ion-icon>
      </div> 
    </ion-item>
      
  </ion-list>
  
  <ion-item class="ion-select" >
  <ion-select  #selectAction [(ngModel)]="action" (ionChange)="onAffectAction()" [selectOptions]="selectOptions"
  multiple="true" cancelText="Annuler" okText="Ajouter">
  <ion-option *ngFor="let actionNoSelected of actionsNoSelected" [value]="actionNoSelected.id">{{actionNoSelected.label}}</ion-option >
  </ion-select> 
</ion-item>



</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
            <ion-col col-3 text-center>
                <img class="img-icon-footer" src="assets/imgs/icon-family.png" (click)="onLinkFamily()" />    
            </ion-col>

          <ion-col col-6 text-center>PLAYTIME</ion-col>

            <ion-col col-3 text-center>
                <img class="img-icon-footer" src="assets/imgs/icon-chrono.png" (click)="onLinkChrono()"  />
            </ion-col>
        </ion-row>
    </ion-grid>
    </ion-toolbar>            
  </ion-footer>