page-dashboard {

  .select {
      max-width: 100%;
  }

  .ion-select {
    display: none;
  }

  .select-card {
    position: sticky;
    top: 00px;
    z-index: 10;
    width:100%;
    margin:0;
    background-color: white;
  }
  .ionItem{
    height: 55px;
    padding:0;
    margin:0;
    background-color: #ffffff;
  }
  .line-action {
    z-index: -10;
    display: flex;
    align-items: center;
    z-index: 1000;
    margin:0px;
    background-color: white;
  

    div{margin-left:5px;margin-right:5px;margin-top:0px;margin-bottom: 0px;}      

    .badge-time {
      flex-basis: 15%;
      font-size: 10px;
      text-align: center;
      color: white;
      border-radius: 5px;
      padding: 2px;
      width:50px;
      height:15px;
      margin:0px;
      
    }
  
    .text-action {
      flex-basis: 65%;
      font-size:14px;
      text-align: left; 
    }
 
    .btn-plus {
      flex-basis: 5%;
      font-size : 40px;
      padding-right:5px;
      padding-left:5px;
    }
  
    .btn-minus {
      flex-basis: 5%;
      font-size : 30px;
    }
  }

    .badge-positive {
      background-color: $positive;
    }

    .badge-negative{
      background-color: $negative;
    }

    .icon-positive{
      color:$positive;
    }

    .icon-negative{
      color:$negative;
    }

    .badge-title-time-recap{
      text-align:center;
      font-size:14px;
    }
    .badge-time-recap{
      //width:90%;
      padding:5px;
      font-size:15px;
    }

    .icon-add-action{
      margin-top:10px;
      font-size:30px;
      color:#488aff;
    }

   
}

