
<ion-header>

  <ion-navbar>
    
    <ion-title>
      <img class="img-icon-header" src="assets/imgs/icon-tbb.png" (click)="onLinkDashboardChild(childs.id)"  />
      <span>Line</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <div class="select-card">
    <ion-grid>
        <ion-row>
  
          <ion-col col-4>
            <div class="badge-title-time-recap" >Temps gagné</div>
            <ion-badge class="badge-time-recap">01h10</ion-badge>
          </ion-col>
      
          <ion-col col-4>
            <div class="badge-title-time-recap" >Temps joué</div>
            <ion-badge class="badge-time-recap">01h10</ion-badge>
          </ion-col>
  
          <ion-col col-4>
            <div class="badge-title-time-recap" >Temps restant</div>
            <ion-badge class="badge-time-recap">01h10</ion-badge>
          </ion-col>
  
          </ion-row>   
        </ion-grid>

        <ion-card class="select-card">            
            <ion-card-content no-padding>
      
        <ion-list>
            <ion-item>
      
        
        
        <ion-label>Ajouter une action</ion-label>
        <ion-select  [(ngModel)]="action" (ionChange)="addAction()" 
          multiple="true" cancelText="Annuler" okText="Ajouter">
          <ion-option *ngFor="let listAction of listActionsFree" [value]="listAction.id">{{listAction.label}}</ion-option >
        </ion-select>
      </ion-item>
      </ion-list>
      
      </ion-card-content>
      
      </ion-card>
      
    </div>
  <ion-list>
    <ion-item *ngFor="let dashActions of dashActions" >
      <div class="line-action">
        <div class="badge-time" [class.badge-positive]="dashActions.positive" [class.badge-negative]="!dashActions.positive">00h20</div>
        <div class="text-action" text-wrap>{{dashActions.labelAction}}</div>          
        <ion-badge class="badge-action-count" [class.badge-positive]="dashActions.positive" [class.badge-negative]="!dashActions.positive">{{dashActions.count}}</ion-badge>
        <ion-icon  class="btn-plus" name="add-circle"  (click)="onAddRealisedAction()"></ion-icon>
        <ion-icon class="btn-minus" name="remove-circle"  (click)="onRemoveRealisedAction()"></ion-icon>
      </div> 
    </ion-item>
  </ion-list>

  

    


</ion-content>
