<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Famille</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-title>{{userPseudo}}</ion-title>
    
    <button ion-button full (click)="onLienFormEnfant(0)">Ajouter un enfant</button>

    <ion-list>

      <ion-row>

      <ion-col col-6 *ngFor="let childs of childs">

      <ion-item>
        
          <ion-card >
              <img class="img-family-child" src="assets/imgs/Your_Photo.png" />
          
              <ion-card-content>

                <ion-card-title *ngIf="!childs.nickname">
                  {{childs.firstname}}
                </ion-card-title>
                <ion-card-title *ngIf="childs.nickname">
                  {{childs.nickname}}
                </ion-card-title>
                
                <ion-grid>

                    <ion-row>
                      <ion-col>
                        <ion-icon name="clipboard"></ion-icon> 
                      </ion-col>
                      <ion-col>                   
                        <ion-icon name="contacts"></ion-icon>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      
                      <ion-col>   
                        <ion-icon name="alarm"></ion-icon>
                      </ion-col>
                    </ion-row>

                </ion-grid>
              </ion-card-content>  
          
          </ion-card>

      </ion-item>

      </ion-col>

      </ion-row>

    </ion-list>
    
</ion-content>  
  
  

  




